.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #d979198f;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
}
.profile-image-container {
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-image-container > img {
  object-fit: cover;
  width: 100px;
  border-radius: 50%;
}
.profile-name {
  padding: 4px 0px;
}
